<html>
<body>
     <% for(var i=0; i < given.length; i++) { %>
     <%= given[i].email %> already exists!
     <% } %>
</body>
<style>
     body{
          font-size : 25px;
          background:linear-gradient(#07F5F5,white);
          text-align:center;
     }
</style>
</html>
