<!DOCTYPE html>
<html>

<body>
    <table class="class-list-table">
        <thead>
            <tr>
                <th>Class_ID</th>
                <th>Subject</th>
                <th>Fac_ID</th>
            </tr>
        </thead>

        <tbody>
            <% for(var i=0; i < classes.length; ++i) {%>
                <tr>
                    <td>
                        <%= classes[i].class_id %>
                    </td>
                    <td>
                        <%= classes[i].subject %>
                    </td>
                    <td>
                        <%= classes[i].faculty_id %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>

    <form method="post" action="/dashboard/classes/upload_csv">
        <label for="class_id">Enter Class ID</label>
        <input type="number" name="class_id" id="class_id">
        <input type="submit" value="Upload CSV" />
    </form>

    <form method="post" action="/dashboard/classes/class-details">
        <label for="class_id">Enter Class ID</label>
        <input type="number" name="class_id" id="class_id">
        <input type="submit" value="Get summary" />
    </form>
</body>

</html>