<html>
<body>
<table class="class-table" border=1 cell-spacing=0>
  <thead>
    <tr>
      <th>Class id</th>
      <th>Faculty id</th>
      <th>subject</th>
    </tr>
  </thead>

  <tbody>
    <% for(var i=0; i < faculty.length; i++) { %>
    <tr>
	<td><%= faculty[i].class_id %></td>
      <td><%= faculty[i].faculty_id %></td>
      <td><%= faculty[i].subject %></td>
    </tr>
    <% } %>
  </tbody>
  </table>
  <style>
  body{
       font-size : 25px;
       background:linear-gradient(#07F5F5,white);
       position:absolute;
       top:50%;
       left:50%;
       transform: translate(-50%,-50%);
       text-align:center;
  }
 </style>
</body>
</html>
