<html>
	<body>
			Welcome! <% for(var i=0; i < given.length; i++) { %>
			<%= (given[0].name) ? given[0].name : '' %>
			<% } %>
			<br>
			Your Faculty Id is <b>
				<%= (given[0].faculty_id) ? given[0].faculty_id : '' %>
			</b>
			<br><br>
			<form method="post" action="dashboard/new_class">
       			<input type="submit" value="New class"/>
			</form>

			<!-- <form method="post" action="dashboard/upload_csv">
                        <input type="submit" value="Upload CSV"/>
			</form>

			<form method="post" action="dashboard/get_summary">
                        <input type="submit" value="Get summary"/>
			</form> -->

			<form action="dashboard/classes" method="post">
                <input type="submit" value="View Classes" />
            </form>
	</body>
	<style>
		body{
			font-size : 25px;
			border:2px solid black;
			background:linear-gradient(#07F5F5,white);
			position:absolute;
	          top:50%;
	          left:50%;
	          transform: translate(-50%,-50%);
	          text-align:center;
			padding : 25px 25px;
		}

	</style>
</html>
