<html>
     <body>
          New class created! <br>
          Your Class Id is <b>
               <%= (given[0].class_id) ? given[0].class_id : '' %>
          </b>
          <br><br>
          <a href="/dashboard/new_class_created/new_student">New set of students?</a>
     </body>
     <style>
		body{
			font-size : 25px;
			border:2px solid black;
			background:linear-gradient(#07F5F5,white);
			position:absolute;
	          top:50%;
	          left:50%;
	          transform: translate(-50%,-50%);
	          text-align:center;
			padding : 25px 25px;
		}

	</style>
</html>
