<html>
     <head>
          <title>NEW CLASS</title>
     </head>
<body>
     <div class="frame">
     <form method="post" action="/dashboard/new_class_created" enctype="multipart/form-data">
     <b>NEW CLASS</b><br><br>
     <!-- Faculty id :
     <input type="text" name="faculty_id" placeholder="Enter faculty_id" required>
     <br><br> -->
     Subject :
     <input type="text" name="subject" placeholder="Enter subject" required>
     <br><br>
     <input type="submit" value="Create">
     </form>
     </div>
<style>
     body{
          background:linear-gradient(#07F5F5,white);
     }
     form{
          font-family:calibri;
          font-size:25px;
          border:2px solid black;
          border-radius:50px;
          padding:50px 25px;
          background:linear-gradient(#FFC9FD,white);
     }
     .frame{
          position:absolute;
          top:50%;
          left:50%;
          transform: translate(-50%,-50%);
          text-align:center;

     }
     b{
          font-size:30px;
     }

</style>
</body>
</html>
