<html>
     <body>
          New class created! <br>
          Your Class Id is <b>
               <%= (given[0].class_id) ? given[0].class_id : '' %>
          </b>
          <br><br>
          <p>Being redirected to student info page....</p>
          <script>
          setTimeout(function () {
          // after 5 seconds
          window.location = "/dashboard/new_class_created/new_student";
     }, 5000)
     </script>
     <div class="loader"></div>
     </body>
     <style>
     .loader {
          margin-left : 50%;
          border: 5px solid #f3f3f3;
          border-radius: 50%;
          border-top: 5px solid #3498db;
          width: 25px;
          height: 25px;
          -webkit-animation: spin 2s linear infinite; /* Safari */
          animation: spin 2s linear infinite;
          }

     /* Safari */
     @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
          }

     @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
     }
		body{
			font-size : 25px;
			border:2px solid black;
			background:linear-gradient(#07F5F5,white);
			position:absolute;
	          top:50%;
	          left:50%;
	          transform: translate(-50%,-50%);
	          text-align:center;
			padding : 25px 25px;
		}
          p {
               font-size : 20px;
          }

	</style>
</html>
