<html>
     <title>Student detail successful</title>
     <body>
          <div class="frame">
               <b>Student details successfully inserted!</b>
          </div>
     </body>
     <style>
          body{
               background:linear-gradient(#07F5F5,white);
          }
          .frame{
               border : 2px solid black;
               position:absolute;
               top:50%;
               left:50%;
               transform: translate(-50%,-50%);
               text-align:center;
               padding : 20px 20px;
          }
          b{
               font-size:30px;
          }

     </style>
</html>
