<html>
     <title>CSV upload success</title>
     <body>
          <div class="frame">
               Your Lecture id is <b><%= lecture_id %></b><br><br>
               <b>CSV successfully uploaded!</b>
          </div>
     </body>
     <style>
          body{
               background:linear-gradient(#07F5F5,white);
          }
          .frame{
               border : 2px solid black;
               font-size : 25px;
               position:absolute;
               top:50%;
               left:50%;
               transform: translate(-50%,-50%);
               text-align:center;
               padding : 20px 20px;
          }

     </style>
</html>
